<table class="table table-hover">
  <thead>
  <tr>
    <th class="service" (click)="sort('byName')">Service
      <ng-container *ngIf="sortBy==='byName'">
        <ng-container *ngIf="trend==='up'">⏶</ng-container>
        <ng-container *ngIf="trend==='down'">⏷</ng-container>
      </ng-container>
    </th>
    <th (click)="sort('byCost')">Cost
      <ng-container *ngIf="sortBy==='byCost'">
        <ng-container *ngIf="trend==='up'">⏶</ng-container>
        <ng-container *ngIf="trend==='down'">⏷</ng-container>
      </ng-container>
    </th>
    <th (click)="sort('byStatus')">Status
      <ng-container *ngIf="sortBy==='byStatus'">
        <ng-container *ngIf="trend==='up'">⏶</ng-container>
        <ng-container *ngIf="trend==='down'">⏷</ng-container>
      </ng-container>
    </th>

    <th (click)="sort('byTimeLeft')">Time left
      <ng-container *ngIf="sortBy==='byTimeLeft'">
        <ng-container *ngIf="trend==='up'">⏶</ng-container>
        <ng-container *ngIf="trend==='down'">⏷</ng-container>
      </ng-container>
    </th>

    <th *ngIf="isUser()">Continue/Pause</th>

    <th *ngIf="isAdmin()">Block</th>

    <th *ngIf="isUser()">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sub of getSubscriptions()">
    <td>
      <ng-container *ngIf="sub.status.name!='Active'||isAdmin()">
        {{sub.service.name}}
      </ng-container>
      <ng-container *ngIf="sub.status.name==='Active'&&isUser()">
        <a href="{{sub.service.link}}">
          {{sub.service.name}}
        </a>
      </ng-container>
    </td>

    <td>${{sub.service.cost}}/min</td>

    <td>{{sub.status.name}}</td>

    <td>{{timeLeft(sub)}}s</td>

    <ng-container *ngIf="isUser()">

      <td *ngIf="!(sub.status.name==='Active')">
        <button type="button" class="btn close-button" (click)="continueSubscription(sub)">
          <img src="../../../../../assets/active.png">
        </button>
      </td>
      <td *ngIf="sub.status.name==='Active'">
        <button type="button" class="btn close-button" (click)="pauseSubscription(sub)">
          <img src="../../../../../assets/pause.png">
        </button>
      </td>

    </ng-container>

    <ng-container *ngIf="isAdmin()">
      <td *ngIf="sub.status.name!=='Blocked'">
        <button type="button" class="btn close-button" (click)="blockSubscription(sub)">
          <img src="../../../../../assets/block.png">
        </button>
      </td>
      <td *ngIf="sub.status.name==='Blocked'">
        <img src="../../../../../assets/blocked.png">
      </td>
    </ng-container>
    <td *ngIf="isUser()">
      <button type="button" class="btn close-button" (click)="openModal(deleteSubscriptionTemplate)">
        <img src="../../../../../assets/delete.png"></button>
    </td>

    <ng-template #deleteSubscriptionTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Subscription to {{sub.service.name}}</h4>
        <button type="button" class="close pull-right"
                aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure?
        </p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-dismiss="modal" (click)="deleteSubscription(sub.id)">
          Delete
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close
        </button>
      </div>
    </ng-template>
  </tr>
  </tbody>
</table>




