button {
  margin-left: 10px;
}

th {
  cursor: pointer;
  text-align: center;
}

td {
  text-align: center;
}

.service {
  width: 20%;
}

#iframeModal {
  padding: 0px;
  margin: 0px;
  background: black;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 300px;
}

#iframeModal > button {
  margin-left: auto;
}
