<table class="table table-hover">
  <thead>
  <tr>
    <th class="service" (click)="sort('byName')">Service
      <ng-container *ngIf="sortBy==='byName'">
        <ng-container *ngIf="trend==='up'">⏶</ng-container>
        <ng-container *ngIf="trend==='down'">⏷</ng-container>
      </ng-container>
    </th>
    <th (click)="sort('byCost')">Cost
      <ng-container *ngIf="sortBy==='byCost'">
        <ng-container *ngIf="trend==='up'">⏶</ng-container>
        <ng-container *ngIf="trend==='down'">⏷</ng-container>
      </ng-container>
    </th>
    <th (click)="sort('byStatus')">Status
      <ng-container *ngIf="sortBy==='byStatus'">
        <ng-container *ngIf="trend==='up'">⏶</ng-container>
        <ng-container *ngIf="trend==='down'">⏷</ng-container>
      </ng-container>
    </th>

    <th (click)="sort('byTimeLeft')">Time left
      <ng-container *ngIf="sortBy==='byTimeLeft'">
        <ng-container *ngIf="trend==='up'">⏶</ng-container>
        <ng-container *ngIf="trend==='down'">⏷</ng-container>
      </ng-container>
    </th>

    <th>Continue/Pause</th>
    <th *ngIf="isUser()">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sub of getSubscriptions()">
    <td>
      <ng-container *ngIf="sub.status.name!='Active'">
        {{sub.service.name}}
      </ng-container>
      <ng-container *ngIf="sub.status.name==='Active'">
        <a href="{{sub.service.link}}">
          {{sub.service.name}}
        </a>
      </ng-container>
    </td>
    <td>${{sub.service.cost}}/min</td>
    <td>{{sub.status.name}}</td>
    <td>{{timeLeft(sub)}}s</td>
    <td *ngIf="!(sub.status.name==='Active')">
      <button type="button" class="btn close-button" (click)="continueSubscription(sub)">
        <img src="../../../../../assets/active.png">
      </button>
    </td>
    <td *ngIf="sub.status.name==='Active'">
      <button type="button" class="btn close-button" (click)="pauseSubscription(sub)">
        <img src="../../../../../assets/pause.png">
      </button>
    </td>
    <td *ngIf="isUser()">
      <button type="button" class="btn close-button" (click)="deleteSubscription(sub.id)">
        <img src="../../../../../assets/delete.png"></button>
    </td>
  </tr>
  </tbody>
</table>
