<table class="table table-hover">
  <thead>
  <tr>
    <th>Service</th>
    <th>Cost</th>
    <th>Status</th>

    <th>Continue</th>
    <th>Pause</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sub of getSubscriptions()">
    <td>{{sub.service.name}}</td>
    <td>${{sub.service.cost}}/day</td>
    <td>{{sub.status.name}}</td>
    <td>
      <button type="button" class="btn close-button" (click)="continueSubscription(sub)">
        <img src="../../../../../assets/active.png">
      </button>
    </td>
    <td>
      <button type="button" class="btn close-button" (click)="pauseSubscription(sub)">
        <img src="../../../../../assets/pause.png">
      </button>
    </td>
    <td>
      <button type="button" class="btn close-button" (click)="deleteSubscription(sub.id)">
        <img src="../../../../../assets/delete.png"></button>
    </td>
  </tr>
  </tbody>
</table>
