<div class="logInForm">
  <form [formGroup]="SingUpForm" novalidate (ngSubmit)="singUpSubmit()">

    <p>SingUp</p>

    <div class="form-group">
      <input class="form-control" formControlName="userName" placeholder="Username" type="text">
      <div class="alert alert-danger"
           *ngIf="SingUpForm.controls['userName'].invalid && SingUpForm.controls['userName'].touched">
        <p>It is necessary to fill the field</p>
      </div>
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="email" placeholder="email" type="text">
      <div class="alert alert-danger"
           *ngIf="SingUpForm.controls['email'].invalid && SingUpForm.controls['email'].touched">
        <p>It is necessary to fill the field</p>
      </div>
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="password" placeholder="password" type="password">
      <div class="alert alert-danger"
           *ngIf="SingUpForm.controls['password'].invalid &&SingUpForm.controls['password'].touched">
        <p>It is necessary to fill the field</p>
      </div>
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="password" placeholder="password" type="password">
      <div class="alert alert-danger"
           *ngIf="SingUpForm.controls['password'].invalid &&SingUpForm.controls['password'].touched">
        <p>It is necessary to fill the field</p>
      </div>
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="password" placeholder="password" type="password">
      <div class="alert alert-danger"
           *ngIf="SingUpForm.controls['password'].invalid &&SingUpForm.controls['password'].touched">
        <p>It is necessary to fill the field</p>
      </div>
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="password" placeholder="password" type="password">
      <div class="alert alert-danger"
           *ngIf="SingUpForm.controls['password'].invalid &&SingUpForm.controls['password'].touched">
        <p>It is necessary to fill the field</p>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-default" [disabled]="SingUpForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>
