<ng4-loading-spinner></ng4-loading-spinner>
<div class="logInForm">
  <form [formGroup]="SingUpForm" novalidate (ngSubmit)="singUpSubmit()">

    <h1>SignUp</h1>

    <div class="form-group">
      <input class="form-control" formControlName="firstName" placeholder="First name" type="text"/>
      <div class="alert alert-warning"
           *ngIf="SingUpForm.controls['firstName'].invalid &&SingUpForm.controls['firstName'].touched">
        <ng-container *ngIf="SingUpForm.controls['firstName'].errors['required']">
          <p>It is necessary to fill the field</p>
        </ng-container>
        <ng-container *ngIf="SingUpForm.controls['firstName'].errors['pattern']">
          <p>Only letters required</p>
        </ng-container>
      </div>
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="lastName" placeholder="Last name" type="text">
      <div class="alert alert-warning"
           *ngIf="SingUpForm.controls['lastName'].invalid &&SingUpForm.controls['lastName'].touched">
        <ng-container *ngIf="SingUpForm.controls['lastName'].errors['required']">
          <p>It is necessary to fill the field</p>
        </ng-container>
        <ng-container *ngIf="SingUpForm.controls['lastName'].errors['pattern']">
          <p>Only letters required</p>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="userName" placeholder="Username" type="text">
      <div class="alert alert-warning"
           *ngIf="SingUpForm.controls['userName'].invalid && SingUpForm.controls['userName'].touched">
        <ng-container *ngIf="SingUpForm.controls['userName'].errors['required']">
          <p>It is necessary to fill the field</p>
        </ng-container>
        <ng-container *ngIf="SingUpForm.controls['userName'].errors['pattern']">
          <p>Restriction of 2-20 characters, which can be letters and numbers, the first character is necessarily a
            letter</p>
        </ng-container>
      </div>

    </div>

    <div class="form-group">
      <input class="form-control" formControlName="email" placeholder="Email" type="text">
      <div class="alert alert-warning"
           *ngIf="SingUpForm.controls['email'].invalid && SingUpForm.controls['email'].touched">
        <ng-container *ngIf="SingUpForm.controls['email'].errors['required']">
          <p>It is necessary to fill the field</p>
        </ng-container>
        <ng-container *ngIf="SingUpForm.controls['email'].errors['pattern']">
          <p>Email required(example@mail.com)</p>
        </ng-container>
      </div>
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="password" placeholder="password" type="password">
      <div class="alert alert-warning"
           *ngIf="SingUpForm.controls['password'].invalid &&SingUpForm.controls['password'].touched">
        <ng-container *ngIf="SingUpForm.controls['password'].errors['required']">
          <p>It is necessary to fill the field</p>
        </ng-container>
        <ng-container *ngIf="SingUpForm.controls['password'].errors['pattern']">
          <p>The password must contain: lowercase and uppercase Latin letters, numbers. Minimum 8 characters</p>
        </ng-container>
      </div>
    </div>


    <div class="form-group">
      <input class="form-control" formControlName="phone" placeholder="phone" type="text">
      <div class="alert alert-warning"
           *ngIf="SingUpForm.controls['phone'].invalid &&SingUpForm.controls['phone'].touched">
        <ng-container *ngIf="SingUpForm.controls['phone'].errors['required']">
          <p>It is necessary to fill the field</p>
        </ng-container>
        <ng-container *ngIf="SingUpForm.controls['phone'].errors['pattern']">
          <p>Incorrect phone</p>
        </ng-container>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-default" [disabled]="SingUpForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>
