
.home_page_content {
  background-color: #3b4b5b;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 400px;
  color: white;
}

.greeting {
  margin: 0px;
  padding: 0px;
  border: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.greeting h1, .greeting h2 {
  padding-top: 100px;
  font: 50pt sans-serif;
}

.greeting h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
}


