

<div id="billingAccount">
  <ul>
    <li *ngFor="let acc of getBillingAccounts();index as i;">

      <div class="close_button_container">
        <button type="button" class="btn close-button" (click)="deleteBillingAccount(acc.id)">
          <img src="../../../../../assets/delete.png">
        </button>
      </div>
      <p>Billing Account : id{{acc.id}}</p>
      <p>Amount of money : ${{acc.balance}}</p>

      <button type="button" class="btn btn-secondary float-right"
              (click)="openModal(template)">
        Add money
      </button>

      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Billing Account: id{{acc.id}}</h4>
          <button type="button" class="close pull-right"
                  aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form [formGroup]="addMoneyForms[i]" novalidate (ngSubmit)="addMoney(acc.id,i)">
            <div class="form-group">

              <label>If you want to add money, enter the amount below </label>
              <input class="form-control" placeholder="amount of money" min="1" formControlName="money">
            </div>
            <div class="alert alert-warning"
                 *ngIf="addMoneyForms[i].controls['money'].invalid && addMoneyForms[i].controls['money'].touched">
              <p>Only numbers required</p>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-secondary float-right" [disabled]="addMoneyForms[i].invalid"
                      (click)="closeModal()">
                Submit
              </button>

            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>

        </div>
      </ng-template>


    </li>
  </ul>
</div>




