<button type="button" class="btn btn-secondary float-right" data-toggle="modal"
        data-target="#addBillingAccountModal">
  Add BillingAccount
</button>

<div id="billingAccount">
  <ul>
    <li *ngFor="let acc of getBillingAcconts()">
      <p>Billing Account : id{{acc.id}}</p>
      <p>Amount of money : ${{acc.money}}</p>
      <form action="#">
        <div class="form-group">
          <label for="addMoney">If you want to add money, enter the amount below</label>
          <input type="number" required class="form-control" id="addMoney"
                 placeholder="amount of money"
                 min="1">
        </div>
        <button type="submit" class="btn btn-secondary float-right">Submit</button>
      </form>
    </li>
  </ul>
</div>
