#billingAccount {
  margin: auto;
  display: flex;
}

ul {
  margin: auto;
  padding-left: 0px;
}
.close_button_container {
  display: flex;
}

.close-button {
  margin-left: auto;
}

li {
  margin-bottom: 60px;
  list-style-type: none;
}

.totalBalance {
  display: flex;
  width: 80%;
  margin: auto;
}

.totalBalance > p {
}
