body{
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: auto;
	font-size: 18pt; 
	 font-family: 'Titillium Web', sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}


header{
	height: 50px;
	width: 100%;
	background-color:#16a086 ;
	margin: 0px;
	border: 0px;
	padding: 0px;
	color: white;
	display: flex;
}
.logo{
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: 20px;
}
.top_buttons{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: auto;
	
	display: flex;
	list-style-type: none;
}
.top_buttons li{

	margin-right: 10px;
}
.top_buttons a{
	text-decoration: none;
	color: white;	
}



footer{
	width: 100%;
	height: 150px;
	background-color: darkgrey;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin-top: auto;
}