<div class="content">
  <div *ngFor="let service of catalog">
    <img src="../../../../../assets/images/{{service.name.toLowerCase().replace(' ','')}}.png">

    <p>
        {{service.text}}
      </p>
    <div *ngIf="!isThereSubscriptionToService(service)">
        <p>${{service.cost}}/day</p>
      <button (click)="openModal(subscribeTemplate)" *ngIf="isUser()">SUBSCRIBE</button>
      </div>
    <div class="mr" *ngIf="isThereSubscriptionToService(service)">
      <button (click)="openModal(unsubscribeTemplate)" *ngIf="isUser()">UNSUBSCRIBE</button>
    </div>


    <ng-template #unsubscribeTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Unsubscribe from {{service.name}}</h4>
        <button type="button" class="close pull-right"
                aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure?
        </p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-dismiss="modal" (click)="unsubscribeFromService(service)">
          Unsubscribe
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close
        </button>
      </div>
    </ng-template>

    <ng-template #subscribeTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Subscribe to {{service.name}}</h4>
        <button type="button" class="close pull-right"
                aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure?
        </p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-dismiss="modal"
                (click)="subscribeToService(service,notEnoughMoneyTemplate)">Subscribe
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close
        </button>
      </div>
    </ng-template>


  </div>
  </div>


<ng-template #notEnoughMoneyTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Not enough money!</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Try adding funds to your
      <a routerLink="/myaccount" (click)="onSelect('My Account')">account</a>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close
    </button>
  </div>
</ng-template>

