.content {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  color: white;
}


.content > div {
  width: 70%;
  height: 250px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #3b4b5b;
}

.content > div > div {
  margin: auto;
}

.content > div > div > button {
  height: 60px;
  width: 300px;
  background-color: #3b4b5b;
  margin: auto;
  margin-right: 10px;
  font-size: 30pt;
  color: white;
  text-align: center;
  border-width: 0px;
  padding: 0px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.content > div > div > button:hover {
  background-color: white;
  color: #3b4b5b;
}

.content > div > img {
  height: 200px;
  width: 200px;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  margin-left: 30px;
  margin-top: 25px;

}

.content > div p {
  text-align: center;
  width: 50%;
  margin: auto;
}

.mr {
  width: 300px;
}

.pag {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.pag > span > p {
  color: black;
  margin: auto;
  margin-right: 0px;
}

.pag > span {
  display: flex;
}

select {
  margin: auto;
  margin-left: 20px;
}

pagination-controls {
  padding-right: 40px;
}
