header{
	height: 50px;
	width: 100%;
	background-color:#5cbb9d ;
	margin: 0px;
	border: 0px;
	padding: 0px;
	color: white;
	display: flex;
}
.logo{
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: 20px;
}
.top_buttons{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: auto;
	display: flex;
	list-style-type: none;
}
.top_buttons>li>a:hover{
	background-color: white;
	color:#5cbb9d;
	border-radius: 3px;
	}
.top_buttons li{
	margin-right: 10px;
}
header a{
	text-decoration: none;
	color: white;	
}