

.content{
	display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    
}

.userInfo {
    display: flex;
    flex-direction: column;
    border-right: 3px solid #3b4b5b;
    border-left: 3px solid #3b4b5b;
    margin: 0px;
    padding: 0px;
    text-align: left;
    min-width: 300px;
    max-width: 500px;
    padding-top: 40px;
}

.userInfo > div {
    margin: 0px;
    padding: 0px;
    width: 80%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.userInfo > div > p {

}

#billingAccount {
    margin-top: 30%;
}


#listOfUsers {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    /* display: none;*/
}