input {
  width: 60%;
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

form > div {
  margin-left: auto;
  margin-right: auto;
}


button {
  height: 60px;
  font-size: 26pt;
  color: white;
  text-align: center;
  border-width: 0px;
  cursor: pointer;

}

button:hover {
  background-color: white;
  color: #16a086;
}

p {

  color: black;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;

}

h1 {

  color: white;
  margin-right: auto;
  margin-left: auto;
}


form > div > div {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  font-size: 14pt;
}

.alert {
  padding: 3px;
}
