.modal-content {
  background-color: #3b4b5b;
}

button {
  color: white;
  text-align: center;
  border-width: 0px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #16a086;
}
