<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="header">
  <a class="logo navbar-brand" href="index.html">SimpleChargingSystem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav justify-content-end" id="collapsibleNavbar">
    <ul class="top_buttons navbar-nav ">
      <li *ngFor="let link of links" [class.selected]="link === getSelectedLink()"
          class="nav-item ">
        <ng-container *ngIf="!(link === links[4])">
          <a class="nav-link" routerLink="/{{link.name.toLowerCase().replace(' ','')}}"
             (click)="onSelect(link)">  {{link.name}}</a>
        </ng-container>

        <ng-container *ngIf="(link === links[4]) && (isAuthorized())">
          <a class="nav-link" routerLink="/{{link.name.toLowerCase().replace(' ','')}}"
             (click)="onSelect(link)">  {{link.name}}</a>
        </ng-container>
      </li>

      <li id="singUp" class="nav-item" *ngIf="!isAuthorized()">
        <button type="button" class="btn  text-light btn-lg" (click)="openModal(template)">
          SignIn/Up
        </button>
      </li>
      <li>
        <a class="nav-link" routerLink="/{{links[0].name.toLowerCase().replace(' ','')}}"
           (click)="onSelect(links[0])" (click)="signOut()" *ngIf="isAuthorized()">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #template>
<app-sing-in-up-pop-up></app-sing-in-up-pop-up>
</ng-template>
